.examples {
    color: #fff;
    height: calc(100% - 95px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.examples-block {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    height: 750px;
}

@media (max-width: 1280px) {
    .examples-block {
        width: 900px;
        height: 520px;
    }
}

@media (max-width: 768px) {
    .examples-block {
        align-items: center;
        justify-content: center;
        width: 600px;
        height: 840px;
    }
}

.custom-grid{
    height: calc((100% - 100px) / 2) !important;
}

.custom-grid-swiper{
    height: 630px !important;
    width: 414px !important;
    position: relative;
}

.swiper-button-next,
.swiper-button-prev {
  color: #FED131;
  position: absolute;
  top: 55%;
}


  

