
.main-page {
    position: relative;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    background-image: url('../../../public/images/sandblaster.jfif');
    background-size: cover;
}

.main-page-block {
    display: flex;
    align-items: center;
    width: 50%;
}

.main-page-content {
    display: grid;
    grid-template-areas: 
    "logo title" 
    "logo subtitle";
}

.main-page-logo{
    grid-area: logo;
    width: 165px;
    height: 155px;
}

.main-page-title{
    display: flex;
    align-items: center;
    grid-area: title;
    font-size: 74px;
    font-weight: 600;
    line-height: 84px;
    text-transform: uppercase;
    color: #FED131;
}

.main-page-subtitle{
    grid-area: subtitle;
    font-size: 30px;
    color: #fff;
}

@media (max-width: 1280px) {
    .main-page-title{
        font-size: 54px;
    }
    .main-page-subtitle{
        font-size: 20px;
    }
    .main-page-logo{
        width: 120px;
        height: 110px;
    }
}

@media (max-width: 768px) {
    .main-page {
        justify-content: center;
        background-image: url("../../../public/images/Header/MainPageTablet.png");
    }
    .main-page-block {
        width: 80%;
        justify-content: center;
    }
}

@media (max-width: 414px) {
    .main-page-title{
        font-size: 34px;
        line-height: 44px;
    }
    .main-page-subtitle{
        font-size: 16px;
    }
    .main-page-logo{
        width: 70px;
        height: 65px;
    }
    .main-page-block {
        width: 100%;
        justify-content: center;
    }
    .main-page-content {
        position: absolute;
        top: 35%;
    }


}