
.main-page {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    background-image: url('../../../public/images/sandblaster.jfif');
    background-size: cover;
}

.main-page-block {
    display: flex;
    align-items: center;
    width: 50%;
}

.main-page-content {
    display: grid;
    grid-template-areas: 
    "logo title" 
    "logo subtitle";
}

.main-page-logo{
    grid-area: logo;
    width: 165px;
    height: 155px;
}

.main-page-title{
    display: flex;
    align-items: center;
    grid-area: title;
    font-size: 74px;
    font-weight: 600;
    line-height: 84px;
    text-transform: uppercase;
    color: #FED131;
}

.main-page-subtitle{
    grid-area: subtitle;
    font-size: 30px;
    color: #fff;
}