.custom-page-block {
    padding-top: 100px;
    height: calc(100vh - 100px);
}

.title-block {
    position: relative;
    box-sizing: border-box;
    color: #fff;
    height: 95px;
    display: flex;
    align-items: flex-end;
    padding: 20px 80px;
    font-size: 50px;
}

.title-block span {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 10px;
    background: #FED131;
} 

@media (max-width: 1280px) {
    .custom-page-block {
        height: calc(100vh - 80px);
        padding-top: 80px;
    }
    .title-block{
        padding: 20px 60px;
        font-size: 35px;
    }
    .title-block span{
        width: 200px;
    }
}

@media (max-width: 414px) {
    .title-block span{
        width: 100px;
        height: 5px;
    }
    .title-block {
        font-size: 30px;
        padding: 20px;
    }
}