.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100px;
    background: #1A1A1A;
    color: #fff;
    z-index: 9999;
}

.header-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-item {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.test {
    padding: 0 30px;

}

.header-item a {
    font-size: 22px;
    font-weight: 100;
    color: #929292;
    text-decoration: none;
    transition: 0.3s;
}

.header-item span {
    position: absolute;
    bottom: -5px;
    width: 120%;
    height: 2px;
    background: #FED131;
    transform: scaleX(0);
    transition: 0.3s;
}

.header-item {
    &:hover {
        span {
            transform: scaleX(1);
        }
        a {
            color: #fff;
        }
    }
} 

.test1 {
    span {
        transform: scaleX(1);
    }
    a {
        color: #fff;
    }

}

.burger {
    margin-right: 30px;
    cursor: pointer;
}


@media (max-width: 1280px) {
    .header-item a {
        font-size: 18px;
    }
    .header{
        height: 80px;
    }
}

@media (max-width: 768px) {
    .header {
        justify-content: end;
    }
}

