.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 95px);
}

.review-block {
    box-sizing: border-box;
    width: 800px;
    height: 350px;
    background: #fff;
    box-shadow: 0px 0px 36px 7px #FED131;
    border-radius: 10px;
    padding: 40px 45px;
}

.review-text {
    margin-bottom: 100px;
    font-size: 20px;
}

.review-stars {
    width: 265px;
    height: 50px;
    border: 1px solid #1a1a1a;
    border-radius: 10px;
    margin-bottom: 40px;
    font-size: 20px;
    img {
        margin: 0 1px;
    }
}

.swiper {
    width: 100%;
    height: 450px;
    padding-top: 20px;
  }

  .swiper-wrapper {
    
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
@media (max-width: 1280px) {
    .review-block {
        width: 600px;
        height: 250px;
    }
    .review-text{
        margin-bottom: 40px;
        font-size: 16px;
    }
    .review-stars {
        width: 165px;
        height: 30px;
        margin-bottom: 20px;

    
        img {
           width: 30px;
        }
    }
}

@media (max-width: 768px) {
    .review-block {
        width: 550px;
        height: 350px;
    }
    .review-text{
        margin-bottom: 110px;
        font-size: 18px;
    }
    .swiper {
        height: 550px;
    }
}

@media (max-width: 414px) {
    .review-block {
        width: 330px;
        height: 315px;
    }
    .review-text{
        margin-bottom: 50px;
        font-size: 14px;
    }
}